<div class="container col-lg-6 offset-lg-3">
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :name,     required: true, placeholder: "Enter Name" %>
    <%= f.input :email,    required: true, placeholder: "Enter Email" %>
    <% if action_name == 'new' %>
      <%= f.input :password, required: true, placeholder: "Enter Password" %>
    <% end %>
    <%= f.input :photo, as: :file, class: "form-control" %>
    <%= f.submit "Create", class: 'btn btn-success btn-lg btn-block' %>
  <% end %>
</div>



