<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-8 offset-2">
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :name,     required: true, placeholder: "Enter Name" %>
    <%= f.input :email,    required: true, placeholder: "Enter Email" %>
    <% if action_name == 'new' %>
      <%= f.input :password, required: true, placeholder: "Enter Password" %>
    <% end %>
    <%= f.input :photo, as: :file, class: "form-control" %>
    <%= f.submit "Create", class: 'btn btn-success btn-lg btn-block' %>
  <% end %>
</div>



