<div class="btn-bottom mt-lg-2">
  <button class="btn btn-icon waves-effect waves-light btn-sm btn-secondary mr-lg-1 disabled" type="button" title="View Count">
    <i class="fa fa-eye fa-1x ", title="View count" id="view-count-<%=event.id%>"></i>
  </button>
  <span class= "btn btn-icon waves-effect waves-light btn-sm btn-secondary mx-lg-1 disabled">
    <%= event.view_count %>
  </span> |
  <button class="btn btn-icon waves-effect waves-light btn-sm btn-secondary mx-lg-1 disabled" type="button" title="Like Count">
    <i class="fa fa-thumbs-up"></i> 
  </button> 

  <span class="btn btn-icon waves-effect waves-light btn-sm btn-secondary mx-lg-1 disabled"><%= event.likes.count %></span>  
  <% if liked_by_user?(current_user, event) %>
    <%= link_to 'Unlike', unlike_event_path(event) %>
  <% else %>
    <%= link_to 'Like', like_event_path(event) %>
  <% end %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong-<%=event.id%>">
    <i class="fa fa-comments"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong-<%=event.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= render 'comments/content', event: event %>
        <%= render 'comments/form',    event: event %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>