<%= render 'pagination' %>
  <div class="container mb-4 col-7">
    <% events.each do |event| %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb <%= read_event_class(current_user, event)  %> mb-1 event-element">
          <div class="breadcrumb-item col-12 <%= read_event_class(current_user, event) %> event-wrapper pr-lg-3" >
            <%= render 'right_btn',   event: event %>
            <%= render 'event_title', event: event %>
            <%= render 'bottom_btn',  event: event %>
          </div>
        </ol>
      </nav>
    <% end %>
  </div>
<%= render 'pagination' %>

