<%= render 'pagination' %>
<% @events.each do |event| %>
  <div class="row">
    <div class="col-xs-9 col-xs-offset-2">
      <div class="well well-lg <%= read_event_class(current_user, event) %> event-wrapper" >
        <span class="input-group-btn">
         <%= link_to "UnBookmark", unbookmark_event_path(event), class:"btn btn-xs btn-info" %>
        </span>
        <%= render 'event_title', event: event %>
      </div>
      </div>  
    </div>
  </div>
<% end %>
<%= render 'pagination' %>
<%= render 'footer' %>