<h1> Edit Event</h1>
<%= form_with model: @event, local: true do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, maxlength: 70  %>
</p>
  
<p>
  <%= f.label :source %>
  <%= f.text_field :source, maxlength: 70 %>
</p>

<p>
  <%= f.label :tag_list, "Tags (separated by commas)" %><br/>
  <%= f.text_field :tag_list, maxlength: 55 %>
</p>

<%= f.submit "Update" %>

<% end %>