<% if user_signed_in? %>
  <div class="dropdown pull-right mr-5">
    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if current_user.photo.blank? %>
        <p class='without-avatar'><%= current_user.email[0..1].upcase %></p> 
      <% else %>
        <%= image_tag current_user.photo.url(:thumb), class: 'user-avatar img-fluid'%>
      <% end %>
    </button>
    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item href="#"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger btn-sm " %></a>
      <a class="dropdown-item" href="#"><%= link_to "Edit your profile", edit_user_path(current_user), class: "btn btn-outline-primary btn-sm"%></a>
      <a class="dropdown-item" href="#"><%=link_to "Add RssLink", new_rsslink_path, class: "btn btn-outline-success btn-sm"%></a>
    </div>
  </div>
<% else %>
  <div class="dropdown pull-right mr-5 mt-5">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#"><%= link_to "Sign in ", new_user_session_path, class: "btn btn-outline-primary btn-sm"%></a>
      <a class="dropdown-item" href="#"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary btn-sm"%></a>
    </div>
  </div>
<% end %> 
