<% if user_signed_in? %>
  <div class="dropdown pull-right mr-4 pr-3 pt-4">
    <button class="dropdown-toggle border-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if current_user.photo.blank? %>
        <p class='without-avatar'><%= current_user.email[0..1].upcase %></p> 
      <% else %>
        <%= image_tag current_user.photo.url(:thumb), class: 'user-avatar img-fluid'%>
      <% end %>
    </button>
    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" type="button"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
      <button class="dropdown-item" type="button"><%= link_to "Edit your profile", edit_user_path(current_user)%></button>
      <button class="dropdown-item" type="button"><%=link_to "Add RssLink", new_rsslink_path%></button>
    </div>
  </div>
<% else %>
  <div class="dropdown pull-right mr-4 pr-3 pt-4">
    <button class="btn btn-success dropdown-toggle user-avatar mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" type="button"><%= link_to "Sign in ", new_user_session_path%></button>
      <button class="dropdown-item" type="button"><%= link_to "Sign up", new_user_registration_path%></button>
    </div>
  </div>
<% end %> 
